{% extends "adminlte/login.html" %}

{% block title %}Tweetter Login {% endblock %}

{% block logo_href %} /tweetter {% endblock %}

{% block logo_text %}
    <h2><b>Tweetter</b></h2>
    <h3>Login</h3>
{% endblock %}

{% block login_form_links %}
    <a href="{% url 'sign up' %}">Sign Up</a>
{% endblock %}