{% extends "adminlte/login.html" %}
{% load widget_tweaks %}

{% block  title %} Tweetter Sign Up {% endblock %}

{% block logo_href %} /tweetter {% endblock %}

{% block logo_text %}
    <h2><b>Tweetter</b></h2>
    <h3>Sign Up</h3>
{% endblock %}

{% block login_form %}
    <form action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {% if message %}
            <p class="login-box-msg" style="color: red;">{{ message }}</p>
        {% endif %}

        {% for field in form.visible_fields %}
            <div class="form-group">
                {{ field.label_tag }}
                {% if form.is_bound %}
                    {% if field.errors %}
                        {% render_field field class="form-control is-invalid" %}
                        {% for error in field.errors %}
                            <div class="invalid-feedback">
                                {{ error }}
                            </div>
                        {% endfor %}
                    {% else %}
                        {% render_field field class="form-control is-valid" %}
                    {% endif %}
                {% else %}
                    {% render_field field class="form-control" %}
                {% endif %}
            </div>
        {% endfor %}
        <div class="row">
            <div class="col-xs-4">
                <button type="submit" class="btn btn-primary btn-block btn-flat">Sign Up</button>
            </div>
        </div>
    </form>
{% endblock %}
