{% extends 'adminlte/login.html' %}
{% load widget_tweaks %}
{% block login_form %}
    <form action="" method="post">
        {% csrf_token %}
        {% for field in form.visible_fields %}
            <div class="form-group">
                {{ field.label_tag }}
                {% if form.is_bound %}
                    {% if field.errors %}
                        {% render_field field class="form-control is-invalid" %}
                        {% for error in field.errors %}
                            <div class="invalid-feedback">
                                {{ error }}
                            </div>
                        {% endfor %}
                    {% else %}
                        {% render_field field class="form-control is-valid" %}
                    {% endif %}
                {% else %}
                    {% render_field field class="form-control" %}
                {% endif %}
            </div>
        {% endfor %}
        <div class="row">
            <div class="col-xs-4">
                <button type="submit" class="btn btn-primary btn-block btn-flat">Задать</button>
            </div>
        </div>
    </form>
{% endblock %}