{% extends 'adminlte/base.html' %}

{% block title %}ASK.FM{% endblock %}

{% block content %}
    {% if auth %}
        <a href="{% url 'questions' username=profile_username %}">Мои вопросы</a>
    {% else %}
        <a href="{% url 'ask' username=profile_username %}">Задать вопрос</a>
    {% endif %}
{% endblock %}

