{% extends 'adminlte/base.html' %}
{% load widget_tweaks %}

{% block title %}{{ profile.username }}Tweetter{% endblock %}
{% block content %}
    <form action="{% url 'add_tweet' %}" method="post">
        {% csrf_token %}
        {% for field in form.visible_fields %}
            <div class="form-group">
                {{ field.label_tag }}
                {% if form.is_bound %}
                    {% if field.errors %}
                        {% render_field field class="form-control is-invalid" %}
                        {% for error in field.errors %}
                            <div class="invalid-feedback">
                                {{ error }}
                            </div>
                        {% endfor %}
                    {% else %}
                        {% render_field field class="form-control is-valid" %}
                    {% endif %}
                {% else %}
                    {% render_field field class="form-control" %}
                {% endif %}
            </div>
        {% endfor %}
        <span><span id="count">0</span>/140</span>
        <div class="row">
            <div class="col-xs-4">
                <button type="submit" class="btn btn-primary btn-block btn-flat">Tweet</button>
            </div>
        </div>
    </form>
    {% include 'tweets.html' %}
{% endblock %}
{% block javascript %}
    {% include 'adminlte/lib/_scripts.html' %}
    <script type="text/javascript">
        function countChar(val) {
            var len = val.value.length;
            $('#count').text(len);
        };
    </script>

    <script type="text/javascript">
        function getCookie(c_name) {
            if (document.cookie.length > 0) {
                c_start = document.cookie.indexOf(c_name + "=");
                if (c_start != -1) {
                    c_start = c_start + c_name.length + 1;
                    c_end = document.cookie.indexOf(";", c_start);
                    if (c_end == -1) c_end = document.cookie.length;
                    return unescape(document.cookie.substring(c_start, c_end));
                }
            }
            return "";
        }
    </script>
    <script type="text/javascript">
        $(function () {
            $.ajaxSetup({
                headers: {"X-CSRFToken": getCookie("csrftoken")}
            });
        });
        $('.like').on('click', function (event) {
            let url = event.target.id + '/like';
            $.ajax({
                url: url,
                type: 'post',
                dataType: 'json',
                success: function (data) {
                    like_count = JSON.parse(data.like_count);
                    like_id = '#like_count_' + event.target.id
                    $(like_id).empty();
                    $(like_id).html(like_count);
                }
            });
        });
    </script>
{% endblock %}