{% extends 'adminlte/base.html' %}
{% load static %}

{% block title %}{{ object }} Tweetter{% endblock %}
{% block content %}
    <div class="card">
        <div class="card-body">
            <div class="fluid-container">
                <div class="row">
                    <div class="col-md-3">
                        {% if object.photo %}
                            <img src="{{ object.photo.url }}"
                                 width="100%"
                                 class="rounded float-left" alt="{{ object }} photo">
                        {% else %}
                            <img src="{% static "img/default.png" %}"
                                 width="100%"
                                 class="rounded float-left" alt="default">
                        {% endif %}
                    </div>

                    <div class="col-md-9">
                        <h4 class="card-title">
                            <div class="row">
                                <div class="col-lg-2">
                                    {{ object.name }}
                                </div>
                                {% if not me %}
                                <div class="col-lg-2">
                                    <button id="{{ object.username }}" type="button"  class="btn btn-primary btn-block btn-flat follow">{{ status }}</button>
                                </div>
                                {% endif %}
                            </div>
                        </h4>
                        <h5>@{{ object.username }}</h5>
                        <h5><i class="fas fa-baby"></i> Born {{ object.birth_date }}    <i class="fas fa-calendar-alt"></i> Joined {{ object.joined }}</h5>
                        <br>
                        <div class="row">
                            <h5>
                                <div class="col-lg-2">
                                    <a href="{% url 'following' username=object.username %}"> {{ following }} Following</a>
                                </div>
                                <div class="col-lg-2">
                                    <a id="followers"  href="{% url 'followers' username=object.username %}">{{ followers }} Followers</a>
                                </div>
                            </h5>

                        </div>
                        <hr>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% include 'tweets.html' %}
{% endblock %}
{% block javascript %}
    {% include 'adminlte/lib/_scripts.html' %}
    <script type="text/javascript">
    function countChar(val) {
        var len = val.value.length;
        $('#count').text(len);
      };
    </script>
    <script type="text/javascript">
        function getCookie(c_name) {
            if (document.cookie.length > 0) {
                c_start = document.cookie.indexOf(c_name + "=");
                if (c_start != -1) {
                    c_start = c_start + c_name.length + 1;
                    c_end = document.cookie.indexOf(";", c_start);
                    if (c_end == -1) c_end = document.cookie.length;
                    return unescape(document.cookie.substring(c_start, c_end));
                }
            }
            return "";
        }
    </script>
    <script type="text/javascript">
        $(function () {
            $.ajaxSetup({
                headers: {"X-CSRFToken": getCookie("csrftoken")}
            });
        });
        $('.like').on('click', function (event) {
            let url = event.target.id + '/like';
            $.ajax({
                url: url,
                type: 'post',
                dataType: 'json',
                success: function (data) {
                    like_count = JSON.parse(data.like_count);
                    like_id = '#like_count_' + event.target.id
                    $(like_id).empty();
                    $(like_id).html(like_count);
                }
            });
        });
        $('.follow').on('click', function (event) {
            let url = event.target.id + '/follow';
            $.ajax({
                url: url,
                type: 'post',
                dataType: 'json',
                success: function (data) {
                    status = data.status;
                    follow_id = '#' + event.target.id
                    $(follow_id).empty();
                    $(follow_id).html(status);

                    follow_count = data.follow_count;
                    $('#followers').empty();
                    $('#followers').html(follow_count + " Followers")
                }
            });
        });
    </script>
{% endblock %}
