{% extends 'adminlte/base.html' %}

{% block title %}{{ profile }} {{ type }}Tweetter{% endblock %}
{% block content %}
    <h2>{{ type }} People:</h2>
    {% for user in users %}
        <br>
        <h4><a href="{% url 'profile' username="sad_ny" %}"><strong>{{ user.name }}</strong></a></h4>
        <h5>@{{ user.username }}</h5>
        <p>{{ user.bio }}</p>
        <hr>
        <br>
    {% endfor %}
{% endblock %}