<h2>Tweets:</h2>
{% for tweet in all_tweets %}
    <p><a href="{% url 'profile' username=tweet.user.username %}"><strong>{{ tweet.user }}</strong></a> · {{ tweet.date }}</p>
    <P>{{ tweet.tweet }}</P>
    <div class="row">
        <div class="col-lg-2">
                <button type="button" id="{{ tweet.id }}" class="btn btn-primary btn-block btn-flat like">Like </button>
        </div>
        <div id="like_count_{{ tweet.id }}" class="col-lg-1">
                {{ tweet.like_count }}
        </div>
    </div>
    <br>
{% empty %}
    No tweets yet.
{% endfor %}

